<nav class="navbar">
  <div class="nav-container">
    <a href="#" class="logo">HP+</a>
    <ul class="nav-links">
      <li><a href="/patients/register">Register Patient</a></li>
      <li><a href="/patients">Patients</a></li>
      <li><a href="/doctors">Doctors</a></li>
      <li><a href="/appointments">Appointments</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
  </div>
</nav>
