<nav class="navbar">
  <div class="nav-container">
    <a href="#" class="logo">HP2 +</a>
    <ul class="nav-links">
      <% if (locals.user?.role === 'admin') { %>
      <li><a href="/doctors/register">Register Doctor</a></li>
      <% } %> <% if (locals.user?.role === 'doctor') { %>
      <li><a href="/prescriptions/register">Register Prescription</a></li>
      <li><a href="/appointments/register">Register Appointment</a></li>
      <% } %> <% if (locals.user?.role === 'admin' || locals.user?.role ===
      'doctor') { %>
      <li><a href="/patients/register">Register Patient</a></li>
      <li><a href="/patients">Patients</a></li>
      <% } %>
      <li><a href="/doctors">Doctors</a></li>
      <% if (locals.user?.role === 'patient' || locals.user?.role === 'doctor')
      { %>
      <li><a href="/appointments">Appointments</a></li>
      <li><a href="/prescriptions">Prescriptions</a></li>
      <% } %> <% if (locals.user?.role === 'admin') { %>
      <li><a href="/dashboard">Admin</a></li>
      <% } %> <% if (locals.user) { %>
      <li><a href="/auth/sessionLogout">Logout</a></li>
      <% } else { %>
      <li><a href="#" onclick="signInWithGoogle()">Login</a></li>
      <% } %>
    </ul>
  </div>
</nav>
<script type="module" src="/js/auth.js"></script>
