<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctors</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Doctors</h1>
      <ul>
        <% doctors.forEach(doctor => { %>
        <li>
          <%= doctor.name %> - <%= doctor.specialization %> - <%= doctor.contact
          %>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
